# {{ ansible_managed | comment }}

#192.168.0.1      www.{{ ansible_domain }}                  # apt libs SSH apache https://www.{{ ansible_domain }}
#192.168.0.2      pxe.{{ ansible_domain }}                  # apt libs SSH DESCR:PXE CLIENT:deploy

#192.168.0.254    switch.{{ ansible_domain }}               # -apt -libs SSH
